<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Propriétaire</title>
</head>
<body>
    <h2>➕ Ajouter un nouveau propriétaire</h2>

    <form action="/proprietaires/enregistrer" method="post">
        
        <label>Prénom :</label>
        <input type="text" name="prenom" required><br><br>

        <label>Nom :</label>
        <input type="text" name="nom" required><br><br>

        <label>Adresse :</label>
        <input type="text" name="adresse" required><br><br>

        <input type="submit" value="💾 Enregistrer l'humain">
    </form>

    <br>
    <a href="/proprietaires">⬅️ Retour à la liste</a>
</body>
</html>